*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container{
  width: 1000px;
  margin: auto;
}

.float-left{
  float: left;
}

.mt-20{
  margin-top: 20px;
}

.mb-20{
  margin-bottom: 20px;
}

/* sezione header */
header{
  background: yellow;
}

.header-top{
  height: 380px;
}

/* sezione navbar */
nav{
  width: 100%;
  height: 44px;
  background: #504741;
}

/* sezione main */

main::after{
  content:"";
  display: table;
  clear: both;
}

.col-left{
  width: 20%;
  height: 300px;
  background: red;
}

.rounded-box{
  border-radius: 5px;
  padding: 5px;
}

/* sezione col centrale */
.col-center{
  width: 50%;
  height: 350px;
  margin: 0 5%;
  background: blue;
}

/* sezione col destra */
.col-right{
  width: 20%;
}

.widget{
  height: 150px;
  margin-bottom: 20px;
  background: red;
}

/* sezione footer */
footer{
  height: 200px;
  margin-top: 20px;
  background: green;
}
