*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url("../img/natural-default-pattern.png");
}

.container{
  width: 85%;
  height: 95vh;
  margin: auto;
  margin-top: 20px;
  position: relative;
}

.container::after{
  content: "";
  display: table;
  clear: both;
}

header{
  width: 100%;
  height: 30%;
  background-image: url("../img/natural-default-header.jpg");
  background-size: cover;
  background-position: center;
  border: 10px solid white;
  text-align: center;
  vertical-align: middle;
}

.logo{
  width: 30%;
  height: 100%;
}

nav{
  width: 100%;
  height: 40px;
  background: #504741;
  text-align: center;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.25);
  border-radius: 5px;
}

.menu{
  display: inline-block;
  color: white;
  text-transform: uppercase;
  padding: 5px;
  border-right: 1px solid rgba(0,0,0,.25);
}

#contact{
  border-right: none;
}

main{
  margin-top: 10px;
}

.left{
  float:left;
}

.right{
  float:right;
}

.row-l{
  width: 20%;
  padding: 5px;
  background: white;
  border-radius: 5px;
}

.link{
  padding: 20px;
}

.row-c{
  width: 55%;
  background: white;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.col-c{
  padding: 5px;
}

.row-r{
  width: 20%;
}

.col-r{
  padding: 5px;
  background: white;
  border-radius: 5px;
}

#top{
  margin-bottom: 20px;
}

#middle{
  margin-bottom: 20px;
}

div p{
  margin-top: 20px;
}


.footer{
  background: white;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  border-radius: 5px;
}

.credits{
  color: lightgrey;
}

.link-social{
  color: lightgrey;
  height: 50px;
  padding: 20px;
}
